.thumb{
    width: 40%;
}

img{
    width: 228px;
    float: left;
    margin-bottom: 20px;
}

.left{
    float: left;
}

.right{
    float: right;

}

.title{
    background: teal;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

footer{
    margin-top: 300px;
}

